.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
}
body{
  background:#000;
  width: 100%;
  height: 100%;
}


/* 
used for create box :- */
#traffic{
  width: 100px;
  height: 300px;
  border: 3px solid #fff;
  margin: 150px;
}

/* 
used for create box :- */
#traffic1{
  width: 100px;
  height: 300px;
  border: 3px solid #fff;
  margin-left: 550px;
  transform: translateY(-460px);
}


/* used for create box :- */
#traffic12{
  width: 100px;
  height: 300px;
  border: 3px solid white;
  transform: translateY(-770px);
  margin-left: 930px;
}


/* 
used for create round circle inside box :- */
#green , #red , #yellow{
  border-radius: 100%;
  border: 1px solid whitesmoke;
  background: white;
  padding: 45px;
  margin: 5px;
}

#green12 , #red12 , #yellow12{
  border-radius: 100%;
  border: 1px solid whitesmoke;
  background: white;
  padding: 45px;
  margin: 5px;
}

/* 
#red{
  background-color: red;
}
#green {
  background-color: green;
}
#yellow{
  background-color: yellow;
} */



